@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color:rgb(194, 194, 247);
    padding: 10px;
    margin: 10px;
   }
 header nav{
    /* width: 150px; */
    /* height: 150px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .container nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;;
   
  }
  header nav img{
    height: 100px;
    width: 100px;
  }
  header nav ul li{
    cursor:pointer;
  }

  section .body-up h2,h3{
    text-align:  center;
  }


 